<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>eTutoring</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" integrity="sha256-8zyeSXm+yTvzUN1VgAOinFgaVFEFTyYzWShOy9w7WoQ=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-ekOryaXPbeCpWQNxMwSWVvQ0+1VrStoPJq54shlYhR8HzQgig1v5fas6YgOqLoKz" crossorigin="anonymous">
  
 
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="/staff">Staff Manage</a> </div>
      <div class="list-group list-group-flush">
        <a href="/staff/StudentClick" class="list-group-item list-group-item-action bg-light">Student</a>
        <a href="/staff/TutorClick" class="list-group-item list-group-item-action bg-light">Tutor</a>
        <a href="/staff/AssociateClick" class="list-group-item list-group-item-action bg-light">Associate</a>
        <a href="/staff/statistical" class="list-group-item list-group-item-action bg-light">Statistical</a>
        <a href="/staff/statistical/mess" class="list-group-item list-group-item-action bg-light">Message</a>
       
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <%- include ('./template/header') -%>

  <!-- /#wrapper -->
  <canvas id="myChart" width="300px" height="150px"></canvas>
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
const socket = io()
$( document ).ready(function() {

let cookie = document.cookie
cookie = cookie.replace('token=', '')
socket.emit('login', cookie)
socket.emit('getInfo')
socket.on('sendNotification', ({notification, id, listNotifications}) => {
    var count = 0
    for (var i = 0; i < listNotifications.length; i ++) {
        if(listNotifications[i].status == 1){  
            count ++
        }
    }
    $('.badge-counter').text(count)
    $('.noti').html('')
    for (var i = 0; i < listNotifications.length; i ++) {
        if(listNotifications[i].status == 1){
            $('.noti').append('<a class="dropdown-item d-flex align-items-center" id="'+listNotifications[i]._id+'" href="'+listNotifications[i]._id+'"><div class="customItem"><div class="small text-gray-500">December 2, 2019</div>'+ listNotifications[i].notification + '</div></a>')
        }else{
            $('.noti').append('<a class="dropdown-item d-flex align-items-center" id="'+listNotifications[i]._id+'" href="'+listNotifications[i]._id+'"><div><div class="small text-gray-500">December 2, 2019</div>'+ listNotifications[i].notification + '</div></a>')
        }
    }
})
})
$(document).on( "click",'.align-items-center', (e) => {
    var idNotification = e.currentTarget.id
    socket.emit('checked', idNotification)
})
socket.emit('con', () => {})
socket.on('res', data => {
    var ctx = document.getElementById('myChart').getContext('2d');   
    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: data[0],
        datasets:[
            {
                label: "number of visits",
                fill: false,
                data: data[1]
            }
        ]
    }
    });
})
   
  </script>
</body>
</html>
